!
! VLAN Configuration
!
{%- for vlan in vlans %}
vlan {{ vlan.id }}
{%- if vlan.name %}
   name {{ vlan.name }}
{%- endif %}
{%- if vlan.state %}
   state {{ vlan.state }}
{%- endif %}
!
{%- endfor %}
